.about {
    position: relative;
    &__photo {
      width: 55%;
      border-radius: 2px;
      position: absolute;
      z-index: 10;
      transition: all 0.2s;
      outline-offset: 2rem;
  
      &--p1 {
        left: 0;
        top: -2rem;
      }
  
      &--p2 {
        right: 0;
        top: 2rem;
      }
  
      &--p3 {
        left: 20%;
        top: 10rem;
      }
  
      &:hover {
        transform: scale(1.05) translateY(-0.5rem);
        z-index: 20;
      }
    }
    &:hover &__photo:not(:hover) {
      transform: scale(0.95);
    }
  }
  @media(min-width: 0px) {
    .about__photo--p3 {
      left: 0;
      top: 6rem
    }
  }
  @media(min-width: 767px) {
    .about__photo--p3 {
      left: 15%;
      top: 5rem
    }
  }
  @media(min-width: 992px) {
    .about__photo--p3 {
      left: 11%;
      top: 10rem
    }
  }